p, h1, h2, h3, h4, h5, th {
    color: #ECA72C;
}

body {
    background-color: #221E22;
    display: flex;
    flex-direction: column;
}
body, .game, #root, .game {
    min-height: 100vh;
    min-width: 100vw;
}

.headingDiv {
    display: flex;
    justify-content: center;
}
.heading {
    text-transform: uppercase;
    border: #44355B 2px solid;
    border-radius: 1em;
    padding: 0.3em;
    border-bottom: #44355B 8px solid;
    border-top: #eca52c4b 5px solid;
}

.gameTable {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #44355B;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tableHeading {
    width: 18%;
    border: 3px solid #44355B;
    height: 5em;
    font-size: 1.5em;
    text-transform: uppercase;
    word-wrap: normal;
}

.textHeading {
    width: 20%;
    border: 3px solid #44355B;
    height: 1em;
    font-size: 4em;
    font-weight: 500;
    text-transform: uppercase;
}

.instructions {
    margin: 0 auto;
    width: 50%;
    word-wrap: normal;
    text-align: left;
}

p {
    text-align: left;
}

@media screen and (max-width: 900px) {
    .gameTable {
        transform: rotateZ(90deg);
        height: 400px !important;
        font-size: smaller;
        margin: 0;
    }

    h1 {
        margin: 1em;
    }

    p {
        margin-top: 2em;
    }
}
.footer {
    margin-top: auto;
}